body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #00a2b8;
  border-radius: 4px;
  overflow: hidden;
}

.nav-menu li {
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 14px 20px;
  display: block;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 5px;
}

.nav-menu a:hover {
  background-color: #007d91;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -2px;
}