*{
    margin: 10px;
    background-color: rgb(37, 32, 32);
    color: white;
}
header{
    text-align: center;
    background-color: rgb(35, 94, 150) ;
    border-radius: 5px;
    
}
nav{
    text-align: center;
    background-color: rgb(35, 94, 150) ;
    
    border-radius: 5px;
}
.Menu{
    background-color: white;
    border-radius: 5px;
}
.Menu section{
    background-color: rgb(35, 94, 150);
    margin: 3px;
    width: 800px;
    height: 90px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.Menu p{
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(28, 28, 88);
}
.Menu aside{
    text-align: center;
    background-color: rgb(35, 94, 150) ;
    margin: 3px;
    border-radius: 5px;
    width: 840px;
    height: 130px;
    position: absolute;
    top: 50px;
    left: 40px;
    transform: translate(99%, 20%);
    
}
footer{
    text-align: center;
    background-color: rgb(35, 94, 150) ;
    border-radius: 5px;
}