#recuadro1 {
    background-image: url(../imagenes/trformers.jpg);
    background-color: black;
    color: #f00;
    width: 700px;
    height: 450px;
    border-radius: 15px;
    font-size: 45px;
}

#recuadro2 {
    background-color: black;
    color: #f00;
    width: 700px;
    height: 450px;
    border-radius: 15px;
    font-size: 45px;
    margin-top: 10px;
}

.texto1 {
    color: rgb(255, 255, 0);
}

.texto2 {
    color: rgba(255, 255, 0, 0.5);
}

body {
    background-color: white;
    margin: 50px;
}