#recuadro1 {
    transform: scale(0.8, 1.2);
    transform-origin: left top;
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    padding: 10px;
}
#recuadro2 {
    transform: scale(1.20, -1);
    border-radius: 20px 40px 40px 20px;
    background-color: #aa0;
    width: 200px;
    padding: 10px;
    margin-top: 70px;
}
body {
    background: white;
    margin: 20px;
}